@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Silkscreen', cursive;;
}
h1, 
h2{
    text-align: center;
    font-weight: 700;
}
h3,
h4,
p{
    text-align: center;
    font-weight: 400;
}

.color-change-3x {
    animation: color-change-3x 4s linear infinite alternate both;
}
@keyframes color-change-3x {
    0% {
        background: #19dcea;
    }
        50% {
      background: #b22cff;
    }
    100% {
      background: #ea2222;
    }
}
  
.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;	
}
@keyframes text-focus-in {
    0% {
              filter: blur(12px);
      opacity: 0;
    }
    100% {
              filter: blur(0px);
      opacity: 1;
    }
}

@media only screen and (min-width : 320px) {
    .container{
        height: auto;
        width: 100vw;
        margin-bottom: 9.5rem;
    }
    .area{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /*header*/
    
    .profile{
        position: relative;
        width: 90vw;
        margin: 0 auto;
    }
    .profile picture{
        padding: 50px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile img{
        height: 60%;
        width: 60%;
        border-radius: 37% 63% 40% 60% / 59% 39% 61% 41% ;
    }
    .profile p{
        margin-top: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    .nav-bar{
        display: none;
        flex-direction: column;
    }
    .nav-bar a{
        text-transform: uppercase;
        font-size: 1.1rem;
        background: maroon;
        font-weight: bold;
        padding: 10px 5px;
        margin: 2.5px 0px;
        color: #010101;
    }
    .contact-user{
        margin-top: 1rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .contact-perfil{
        background: transparent;
        border: 2px solid #fff;
        border-radius: 10px;
        outline: none;
        padding: 12px 35px;
        text-align: center;
        font-family:'Silkscreen', cursive;;
        font-weight: 400;
        font-size: 1.1rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-perfil ion-icon{
        padding-right: 5px;
    }
    /*main*/
    main h2{
        background: white;
        padding: 15px;

        margin-bottom: 1.5rem;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 60% 75%, 55% 100%, 50% 75%, 0% 75%);
        display: inline-block;
    }
    .container-items{
        width: 95vw;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .items img{
        width: 100%;
    }
    .card-content{
        color: #010101;
        background: #fff;
        border-radius: 10px;

    }
    .photo img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sub-title{
        display: flex;
        align-items: center;
        padding-left: 1rem;
        height: 40px;
        background: #fff;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .tec{
        display:none;
    }
    /*footer*/
    footer{
        padding: 10px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sociais ion-icon{
        font-size: 1.5rem;
        color: #b22cff;
    }
}